{embed="Assets/header"}

<div id="pagecontainer" class="feedback">
	<div id="pagenav" class="feedback">
		<ul>
			<li><a href="{path='site_index'}Hear">{if segment_1 == "Hear"}<span class="yelital">Hear </span>{if:else}Hear {/if}</a></li>
			<li><a href="{path='site_index'}Blog">{if segment_1 == "Blog"}<span class="yelital">Blog </span>{if:else}Blog {/if}</a></li>
			<li><a href="{path='site_index'}Book">{if segment_1 == "Book"}<span class="yelital">Book </span>{if:else}Book {/if}</a></li>
		</ul>
	</div>
	
	<div id="pagecontent" class="feedback">
		<h2>Client&#39;s Comments</h2>

		{exp:channel:entries channel="clientcomments"}
		<h3>{title}</h3>
		<p>&#34;{clientcomment}&#34;</p><br/>
		{/exp:channel:entries}

		<a href="http://www.gigsalad.com/the_wings_of_swing_big_band_springfield" target="_blank">Read more of our reviews at GigSalad.com</a>
	</div>
	
	<a href="/Hear">
	<div id="sidebar" class="feedback">
	<h2>Listen to Demos.</h2>
	</div>
	</a>

	<a href="/Blog">
	<div id="sidebar" class="feedback">
	<h2>Read our Blog.</h2>
	</div>
	</a>
	
	<a href="/Book">
	<div id="sidebar" class="feedback">
	<h2>Book an Event.</h2>
	</div>
	</a>
	
</div>

{embed="Assets/footer"}