{embed="assets/header"}

<div id="pagecontainer" class="feedback">
	
	{embed="assets/pagenav" class="feedback"}
	
	<div id="pagecontent" class="feedback">
		<h2>Client&#39;s Comments</h2>

		{exp:channel:entries channel="clientcomments"}
		<h3>{title}</h3>
		<p>&#34;{clientcomment}&#34;</p><br/>
		{/exp:channel:entries}

		<a href="http://www.gigsalad.com/the_wings_of_swing_big_band_springfield" target="_blank">Read more of our reviews at GigSalad.com</a>
	</div>
	
	<a href="{path='hear'}">
	<div id="sidebar" class="feedback">
	<h2>Listen to Demos.</h2>
	</div>
	</a>

	<a href="{path='blog'}">
	<div id="sidebar" class="feedback">
	<h2>Read our Blog.</h2>
	</div>
	</a>
	
	<a href="{path='book'}">
	<div id="sidebar" class="feedback">
	<h2>Book an Event.</h2>
	</div>
	</a>
	
</div>

{embed="assets/footer"}