{embed="assets/header"}

<div id="pagecontainer" class="hear">
	
	{embed="assets/pagenav" class="hear"}

	<div id="pagecontent">
		{exp:channel:entries channel="pages" entry_id="7"}
		<h2>{title}</h2><br />
		<p>{pagecontent}</p>
		{/exp:channel:entries}
	</div>

	<div id="sidebar" class="hear">
		<h2>Listen</h2><br/><br/>

		{exp:channel:entries channel="songs"}
		<div id="playerbox">
			<h3>{title}</h3>{if '{arrangement}' != ''}<p>Arrangement By: {arrangement}</p>{/if}
			<object type="application/x-shockwave-flash" data="http://www.wingsofswing.com/uploads/songs/player.swf" id="audioplayer{count}" height="24" width="290"> <param name="movie" value="http://www.wingsofswing.com/uploads/songs/player.swf"> <param name="FlashVars" value="playerID=audioplayer{count}&soundFile={audio_file}"> <param name="quality" value="high"> <param name="menu" value="false"> <param name="wmode" value="transparent"> </object>
		</div>
		{/exp:channel:entries}

	</div><!-- SIDEBAR CLOSE -->
	
</div><!-- PAGE CONTAINER CLOSE -->

{embed="assets/footer"}