		</div><!-- CONTAINER CLOSE -->
		
		<div id="footercontainer">
		
			<div id="footer">&copy; {current_time format="%Y"} Wings of Swing Big Band &nbsp;|&nbsp; Powered By: <a href="http://www.expressionengine.com" target="_blank">ExpressionEngine 2</a> &nbsp;|&nbsp; Site Design: <a href="http://www.briankalwat.com" target="_blank">Brian Kalwat</a> &nbsp;|&nbsp; Contact: (417) 883-0950 <span class="yelital">or</span> rick <span class="yelital">[at]</span> wingsofswing <span class="yelital">[dot]</span> com
			</div><!-- FOOTER CLOSE -->
			
		</div><!-- FOOTER CONTAINER CLOSE -->
		
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17169373-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
		
	</body>
</html>
