{embed="assets/header"}

			<div id="mainnav">
				<a href="{path='hear'}"><div id="nav1"></div></a>
				<a href="{path='blog'}"><div id="nav2"></div></a>
				<a href="{path='book'}"><div id="nav3"></div></a>
			</div>
			<div id="clientcomments">
				<div id="fromourclients">
					From Our Clients:
				</div>
				<a href="{path='feedback'}"><div id="readmore">
				</div></a>
				<div id="cc">
					{exp:channel:entries channel="clientcomments"}
					<a href="{path='feedback'}">"{clientcomment}" &nbsp;&nbsp;&nbsp;</a>
					{/exp:channel:entries}
				</div>
			</div>
		
{embed="assets/footer"}